<!-- <div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold"> 
                <h3 class="list-group-item-heading">  {{ address.name}} </h3>
                <p> {{address.street}}</p>
            </div>

        </div>
        
    </div>

</div> -->

<div class="pull-left">
    <h4 class="list-group-item-heading">{{ address.name }}</h4>
    <p class="list-group-item-text">{{ address.street }}</p>
    <button type="button" class="btn btn-primary btn-sm btn-rounded" data-mdb-ripple-init>editar</button>
    <button type="button" class="btn btn-danger btn-sm btn-rounded" data-mdb-ripple-init>Borrar</button>

</div>


