<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
          <img [src]="product.imagePath" class="w-100" />
          <a href="#!">
          <div class="mask">
              <!-- <div class="d-flex justify-content-start align-items-end h-100">
              <h5><span class="badge bg-dark ms-2">NEW</span></h5>
              </div> -->
          </div>
          <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="text-reset ">
          <p>{{product.description}}</p>
          </a>
          <h6 class="mb-3 price">${{product.price}}</h6>
        </div>

      </div>
      <div class="col">
        form goes here
      </div>

    </div>
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
    <button type="button" class="btn btn-primary">Agregar al Carrito</button>
  </div>